In [2]:
# Q1
import pandas as pd
pd.__version__

'2.0.3'

In [44]:
# Q2
data = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv')
data.shape

(20640, 10)

In [12]:
# Q3
data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [14]:
# Q4
data.ocean_proximity.nunique()

5

In [18]:
# Q5
data.query(" ocean_proximity == 'NEAR BAY'").median_house_value.mean()

259212.31179039303

In [45]:
# Q6
avg_bed = data.total_bedrooms.mean().round(3)
data_fill = data.copy()
data_fill.total_bedrooms.fillna(avg_bed,inplace=True)
avg_bed_fill = data_fill.total_bedrooms.mean().round(3)
print(avg_bed,avg_bed_fill)

537.871 537.871

In [118]:
# Q7
import numpy as np
data_in = data_fill.query("ocean_proximity =='ISLAND'")[['housing_median_age','total_rooms', 'total_bedrooms']]
X = data_in.values
XTX =X.T.dot(X)
y=  np.array([950, 1300, 800, 1000, 1300])
w =np.linalg.inv(XTX).dot(X.T).dot(y)
w[-1]

5.699229455065586